* text=auto

.gitattributes text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.html text eol=lf
*.yml text eol=lf
*.png binary
VERSION text eol=lf
LICENSE text eol=lf
checksums.txt text eol=lf
